body {
    margin: 0px;
    padding: 0px;


}








.showText1{
    display: flex;
    background-image: url("../images/showImageText.png");
    width: 320px;
    height: 154px;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.textImg1{
    margin-left:30px;
    margin-right: 5px;
}














.nav-menu {
    float: left;
    height: 1000px;
    width: 420px;
    background: white;
}

@media screen and (max-width: 620px){
    .sidebar-info-main-div{
        opacity: 0;
        width:0px;
        height:0px;
    }
}
/*======
menu
======*/


img.logo{
    max-width: 100%;


    margin-top: 20px;
    padding-left: 83px;



}

div.nav{
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    position: relative; /* Фиксированное положение */
    left: 0; top: 0; /* Левый нижний угол */

    width:14.4%;
    z-index: 998;

}

ul.nav{
    margin-top: 50px;
    padding-right: 0px;
    font-size: 30px;
    list-style: none;
    text-align: justify;


}

li.menu{
    text-align: center;
    width: 100%;
    padding-bottom: 15px;

}

ul.nav.nav-tabs{
    border: none;
}

li.tab{
    background-color: #B8B8B8;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    text-align: center;
}

li:active {
    background-color: #FFFFFF;
}

.nav-tabs>li>a {
    border-radius: 0 !important;
}



.pole{
    background-color: #B8B8B8;
    height: 20px;
    width: 100%;
    margin-right: 0px ;
}

@media screen and (max-width: 620px){
    .container-fluid{
        margin-left: 50px;
    }
}
@media screen and (max-width: 420px){
    .container-fluid{
        margin-left: 50px;
    }
}
@media screen and (max-width: 220px){
    .container-fluid{
        margin-left: 50px;
    }
}



a.dropdown-toggle{
    background-color: #fff;

}

li.menu:hover, li.menu:active, li.menu:focus{

    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.69);
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.69)
}

li.sub-menu:hover, li.sub-menu:active, li.sub-menu:focus{
    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.69);
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.69);
    background-color: #ccc;
}


li a{
    color: #000;
}



li a:hover, li a:active, li a:focus{
    text-decoration: none;
    color: inherit;
    background-color: #fff;
}


ul.sub-menu{
    position: absolute;
    left:99%;
    top:-1%;
    border-radius: 0;
    background-color: #ccc;
    padding-bottom: 15px;
    width: 100%;
}

li.sub-menu{
    display: inline-block;
    font-size: 25px;
    padding-bottom: 15px;
    width: 100%;
}

.dropdown-menu>li.sub-menu>a:hover, .dropdown-menu>li.sub-menu>a:active, .dropdown-menu>li.sub-menu>a:focus{
    text-decoration: none;
    color: inherit;
    background-color:#ccc;
}

.dropdown-menu>li.sub-menu>a{
    white-space: normal;
    text-align: center;

}
.sidebar-info-main-div {
    position: relative;

    display: inline-block;
    left: 33px;
    top: 20px;
    font-size: 24px;
}

.sidebar-info-contact {


    margin: 0px;
    padding-top: 17px;
    padding-left: 3px;


}

ul.sidebar-info-contact {
    position: relative;
    list-style: none; /* забирає маркування*/
    float: left;
    padding-top: 1px;
    text-align: justify;

}

ul.sidebar-info-contact > li {
    display: block;
}

.sidebar-images-ul-contact-icons img {
    display: inline-block;
    height: 40px;
    width: 40px;

}

ul.sidebar-images-ul-contact-icons {
    margin-top: 217px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 75px;

}

.sidebar-images-li-contact img {
    display: inline-block;
    height: 40px;
    width: 40px;
}






/*-------------------------------------*/

.backgroung-maps iframe {
float: left;
    height:800px;
    width:1500px;

    /*  background-image: url("images/mapsScreen.png");*/

}
@media screen and (max-width: 620px){
    .backgroung-maps iframe{
        width: 60%;
        height:800px;
    }
}
@media screen and (max-width: 420px){
    .backgroung-maps iframe{
        width: 30%;
        height:800px;
    }
}
@media screen and (max-width: 220px){
    .backgroung-maps iframe{
        width: 20%;
        height:800px;
    }
}

/*------------- контактна форма ---------------------*/

.contact-form {
    position: absolute;
    top: 10%;
    left: 600px;
    border: 1px solid #737272;
    width: 486px;
    height: 550px;
    background-color: #fff;
}

.info-contact {
    padding-left: 0px;
}

.title-contact {
    position: relative;
    top: 20px;
    left: 30px;
}

.contact-menu a {
    display: block; /* властивість блоку*/
    height: auto;


    text-decoration: none; /*прибрати декорацію якорів*/
    text-align: left;
    color: #f1f0f0;
    font-size: 20px;
}

.contact-menu a:hover {
    text-decoration: underline; /*прибрати декорацію якорів*/
    color: #3c3c3c;
}

ul.contact-menu > li {
    display: inline-block;
}

.info-main-div {
    position: relative;

    display: inline-block;
    left: 68px;
    top: 20px;
    font-size: 24px;
}

.info-contact {

    padding-left: 9px;
    margin: 0px;
    padding-top: 17px;

}

ul.info-contact {
    position: relative;
    list-style: none; /* забирає маркування*/
    float: left;
    padding-top: 1px;

}

ul.info-contact > li {
    display: block;
}

.images-ul-contact-icons img {
    display: inline-block;
    height: 40px;
    width: 40px;

}

ul.images-ul-contact-icons {
    margin-top: 217px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 75px;

}

.images-li-contact img {
    display: inline-block;
    height: 40px;
    width: 40px;
}


/*-------------------------------------*/

.footer-form-for-inputs{

    background: greenyellow;
    width:1500px;

}
/*================= form input =========*/

.input-body-form{
    position: relative;
    width: auto;
    height:10px;
}





/*====form1===*/
.form1{
    background-color: #029ADA;

}
.form-group{

}

div.row.content.form1{
    margin-left:380px;

    width: 1510px;




}
.flex{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding-left: 25px;

}
.form-group.text{
    font-size: 30px;
    color: white;
}

input#email.form-control{
    width: 150px;

    margin: 0px;
}

input#pwd.form-control{
    width: 150px;

    margin: 0px;
}
.form1{
    background-color: #029ADA;
}

form.checkbox{
    position: relative;
    left: 27.5%;
    margin-left: 5px;
    padding-top: 10px;
}


input[type=password]{
    border-radius: 0px;
    margin-right: 27px;
    margin-left: 27px;
    margin-bottom: 0px;
    width: 300px;
    height: 45px;
    border: none;
}


input[type=email]{
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
    width: 250px;
    margin-right: 27px;
    margin-left: 27px;
    height: 45px;
}

button[type=submit]{
    border-radius: 0px;
    border: none;
    background-color: #000;
    color: #fff;

    margin-left: 30px;
    font-size: 24px;
    height: 45px;
}













